@import './animation-easing.css';

@plugin 'tailwindcss-animate';
@plugin 'tailwindcss-animated';

@theme {
  --animate-accordion-down: accordion-down var(--tw-animate-duration, 150ms) ease-out;
  --animate-accordion-up: accordion-up var(--tw-animate-duration, 150ms) ease-out;
  --animate-collapsible-down: collapsible-down var(--tw-animate-duration, 150ms) ease-in-out;
  --animate-collapsible-up: collapsible-up var(--tw-animate-duration, 150ms) ease-in-out;
  --animate-quick-squeeze-x: squeeze-x var(--tw-animate-duration, 150ms) ease-in-out;
  --animate-rippling: rippling var(--tw-animate-duration, 150ms) ease-out;

  /* Keyframes */
  @keyframes accordion-down {
    from {
      height: 0px;
    }

    to {
      height: var(--reka-accordion-content-height, 0px);
    }
  }

  @keyframes accordion-up {
    from {
      height: var(--reka-accordion-content-height, 0px);
    }

    to {
      height: 0px;
    }
  }

  @keyframes collapsible-down {
    from {
      height: 0px;
    }

    to {
      height: var(--reka-collapsible-content-height, 0px);
    }
  }

  @keyframes collapsible-up {
    from {
      height: var(--reka-collapsible-content-height, 0px);
    }

    to {
      height: 0px;
    }
  }

  @keyframes squeeze-x {
    from {
      transform: scaleX(1);
    }

    50% {
      transform: scaleX(1.15);
    }

    to {
      transform: scaleX(1);
    }
  }

  @keyframes path-dash {
    to {
      stroke-dashoffset: 0;
    }
  }

  @keyframes fade-down-out {
    from {
      opacity: 1;
      transform: translateY(0);
    }

    to {
      opacity: 0;
      transform: translateY(-2rem);
    }
  }

  @keyframes blur-in {
    from {
      filter: blur(1rem);
    }

    to {
      filter: blur(0);
    }
  }

  @keyframes rippling {
    0% {
      opacity: 1;
    }
    100% {
      transform: scale(2);
      opacity: 0;
    }
  }

}

@utility animate-check-dash {
  stroke-dasharray: 50;
  stroke-dashoffset: -50;
  animation: path-dash var(--tw-animate-duration, 150ms) var(--tw-animate-easing, ease-out) forwards;
}

@utility animate-indeterminate-dash {
  stroke-dasharray: 50;
  stroke-dashoffset: 50;
  animation: path-dash var(--tw-animate-duration, 150ms) linear forwards;
}

@utility animate-fade-down-in {
  @apply animate-fade-down;
}

@utility animate-fade-down-out {
  animation: fade-down-out var(--tw-animate-duration, 150ms) var(--tw-animate-easing, ease-out) forwards;
}