@layer components {
  .rui-checkbox-root{
    @apply text-hcc hover:text-hff disabled:text-hcc;
  }

  .rui-checkbox{
    @apply bg-transparent border-h55
      hover:border-rz-green
      focus:border-rz-green
      active:bg-rz-green-dark-active
      active:border-rz-green-dark-active
      data-[state=checked]:bg-rz-green
      data-[state=checked]:border-rz-green
      data-[state=indeterminate]:bg-rz-green
      data-[state=indeterminate]:border-rz-green;
  }
}