@import 'tailwindcss';

@config '../tailwind.config.ts';

@import '@rui/themes/razer/index.css';

@layer base {
  body {
    color: #fff;
  }
}


.vue-spinner-mat {
	animation: vue-spinner-spin 2s linear infinite;
	transform-origin: center center;
}

.vue-spinner-mat .path {
	stroke-dasharray: 1, 200;
	stroke-dashoffset: 0;
	animation: vue-spinner-mat-dash 1.5s ease-in-out infinite;
}

@keyframes vue-spinner-spin {
	0% {
		transform: rotate3d(0, 0, 1, 0deg);
	}
	25% {
		transform: rotate3d(0, 0, 1, 90deg);
	}
	50% {
		transform: rotate3d(0, 0, 1, 180deg);
	}
	75% {
		transform: rotate3d(0, 0, 1, 270deg);
	}
	100% {
		transform: rotate3d(0, 0, 1, 359deg);
	}
}

@keyframes vue-spinner-mat-dash {
	0% {
		stroke-dasharray: 1, 200;
		stroke-dashoffset: 0;
	}
	50% {
		stroke-dasharray: 89, 200;
		stroke-dashoffset: -35px;
	}
	100% {
		stroke-dasharray: 89, 200;
		stroke-dashoffset: -124px;
	}
}