@theme {
  
  --color-rui-checkbox-text: var(--color-hcc);
  --color-rui-checkbox-text-hover: var(--color-hff);

  --color-rui-checkbox: transparent;
  --color-rui-checkbox-active: var(--color-rz-green-dark-hover);
  --color-rui-checkbox-border: var(--color-h55);
  --color-rui-checkbox-border-hover: var(--color-rz-green);
  --color-rui-checkbox-border-focus: var(--color-rz-green);
  

  --color-rui-checkbox-checked: var(--color-rz-green);
  --color-rui-checkbox-border-checked: var(--color-rz-green);
}