@theme {
  --color-rui-dialog-overlay: color-mix(in srgb, var(--color-h00), 80%, transparent);

  --color-rui-dialog: var(--color-h1a);
  --color-rui-dialog-border: var(--color-h11);

  --color-rui-dialog-header: var(--color-h22);

  --color-rui-dialog-footer: var(--color-h16);
}