@theme{
  /* Dropdown */
  --color-rui-dropdown: var(--color-h1a);
  --color-rui-dropdown-border: var(--color-h11);
  --color-rui-dropdown-text: var(--color-hcc);

  /* Dropdown item */
  --color-rui-dropdown-item: transparent;
  --color-rui-dropdown-item-hover: color-mix(in srgb, var(--color-hff) 10%, transparent);
  --color-rui-dropdown-item-focus: color-mix(in srgb, var(--color-hff) 10%, transparent);
  --color-rui-dropdown-item-text: inherit;
  --color-rui-dropdown-item-text-hover: var(--color-hff);
  --color-rui-dropdown-item-text-focus: var(--color-hff);

  /* Dropdown item radio */
  --color-rui-dropdown-item-radio: var(--color-rz-green);

  /* Dropdown item label */
  --color-rui-dropdown-item-label: var(--color-hff);
}