@layer components {
  .rui-dropdown-menu-content, 
  .rui-dropdown-menu-sub-content{
    @apply bg-h1a border-h11 text-hcc shadow-rui-popper;
  }

  .rui-dropdown-menu-item, 
  .rui-dropdown-menu-sub-trigger{
    @apply bg-transparent
           text-inherit
           hover:bg-hff/10
           hover:text-hff
           focus:bg-hff/10
           focus:text-hff
           data-[state=open]:bg-hff/10
           data-[state=open]:text-hff;

    &[data-variant="radio"] {
      @apply [&_svg]:fill-rz-green [&_svg]:stroke-rz-green;
    }
  }

  .rui-dropdown-menu-label{
    @apply text-hff font-rob-bold;
  }

  .rui-dropdown-menu-separator{
    @apply bg-h00;
  }
}