@theme {
  /* Input */
  --color-rui-input: transparent;
  --color-rui-input-border: var(--color-h55);
  --color-rui-input-border-hover: var(--color-h66);
  --color-rui-input-border-focus: var(--color-rz-green);
  --color-rui-input-text: var(--color-hbb);

  --color-rui-input-placeholder: var(--color-h55);
  --color-rui-input-selection: #204C19;
  --color-rui-input-selection-text: #97C390;
}
