@layer components {
  .rui-radio-group-item {
    --bg-color:transparent;
    --bg-hover-color: transparent;
    --bg-active-color: var(--color-h28);
    --bg-checked-color: transparent;
    --bg-disabled-hover-color: transparent;

    --border-color: var(--color-h70);
    --border-hover-color: var(--color-rz-green);
    --border-active-color: var(--color-rz-green);
    --border-checked-color: var(--color-h70);
    --border-disabled-hover-color: var(--color-h70);
  }
  .rui-radio-group-item_checkbox{
    --bg-checked-color: var(--color-rz-green);
    --bg-checked-hover-color: var(--color-rz-green-light);
    --bg-checked-active-color: var(--color-rz-green-dark-active);

    --border-checked-color: var(--color-rz-green);
    --border-checked-hover-color: var(--color-rz-green-light);
    --border-checked-active-color: var(--color-rz-green-dark-active);
  }

  .rui-radio-group-item-inner{
    --checked-color: var(--color-rz-green);
  }

  .rui-radio-group-item-inner_checkbox{
    --checked-color: var(--color-h00);
  }
}