@theme {
  /* Trigger */
  --color-rui-select-trigger: var(--color-h16);
  --color-rui-select-trigger-text: var(--color-hbb);
  --color-rui-select-trigger-placeholder: var(--color-h55);

  /* Trigger border */
  --color-rui-select-trigger-border: var(--color-h00);
  --color-rui-select-trigger-border-hover: var(--color-rz-green);
  --color-rui-select-trigger-border-focus: var(--color-rz-green);
  --color-rui-select-trigger-border-open: var(--color-rz-green);

  /* Content */
  --color-rui-select-content: var(--color-h1a);
  --color-rui-select-content-border: var(--color-h11);
  --color-rui-select-content-text: var(--color-hcc);

  /* Item */
  --color-rui-select-item: transparent;
  --color-rui-select-item-hover: var(--color-h28);
  --color-rui-select-item-focus: var(--color-h28);
  --color-rui-select-item-text: var(--color-hbb);
  --color-rui-select-item-text-checked: var(--color-rz-green);

  /* Label */
  --color-rui-select-label: transparent;
  --color-rui-select-label-text: var(--color-hff);

  /* triangle */
  --color-rui-select-triangle: currentColor;
  --color-rui-select-triangle-hover: var(--color-hff);
  --color-rui-select-triangle-open: var(--color-hff);

  /* Value */
  --color-rui-select-value: var(--color-h33);
  --color-rui-select-value-text: inherit;
}