@layer components {
  .rui-select-trigger{
    --bg-color: var(--color-h16);
    --border-color: var(--color-h00);
    --text-color: var(--color-hbb);
    --placeholder-color: var(--color-h55);
    --border-hover-color: var(--color-rz-green);
    --border-focus-color: var(--color-rz-green);
    --border-open-color: var(--color-rz-green);
    
  }

  .rui-select-content{
    --bg-color: var(--color-h1a);
    --border-color: var(--color-h11);
    --text-color: var(--color-hcc);
    @apply shadow-black;
  }

  .rui-select-item{
    --bg-color: transparent;
    --bg-hover-color: var(--color-h28);
    --bg-focus-color: var(--color-h28);
    --text-color: var(--color-hbb);
    --text-checked-color: var(--color-rz-green);
  }

  .rui-select-label{
    --bg-color: transparent;
    --text-color: inhreit;
    --font-family: var(--font-rob-bold);
  }

  .rui-select-triangle{
    --color: currentColor;
    --hover-color: var(--color-hff);
    --open-color: var(--color-hff);
  }

  .rui-select-value {
    --bg-color: var(--color-h33);
    --text-color: currentColor;
    --close-color: currentColor;
    --close-hover-color: var(--color-hff);
  }

  .rui-select-scroll-button_up{}
  .rui-select-scroll-button_down{}
}