@theme {
  --color-rui-switch: var(--color-h78);
  --color-rui-switch-hover: color-mix(in srgb, var(--color-h78) 80%, transparent);

  --color-rui-switch-checked: var(--color-rz-green);
  --color-rui-switch-checked-hover: var(--color-rz-green-light);

  --color-rui-switch-border: transparent;

  --color-rui-switch-thumb: var(--color-h00);
}
