@layer components {
  .rui-switch {
    --bg-color: var(--color-h78);
    --bg-checked-color: var(--color-rz-green);
    --bg-checked-hover-color: var(--color-rz-green-light);
    --bg-unchecked-hover-color: var(--color-h78);
    --border-color: transparent;

    /* thumb*/
    --thumb-bg-color: var(--color-h00);
  }
}
