@layer components {
  .rui-tabs{
    --list-border-color: var(--color-h54);
    /* trigger */
    --trigger-text-color: var(--color-h88);
    --trigger-text-hover-color: var(--color-hff);
    --trigger-text-active-color: var(--color-hff);
    /* indicator */
    --indicator-bg-color: var(--color-rz-green);
  }
}