@theme {
  --color-rui-tooltip: var(--color-hff);
  --color-rui-tooltip-border: var(--color-h00);
  --color-rui-tooltip-text: var(--color-h00);

  --color-rui-tooltip-dark: var(--color-h00);
  --color-rui-tooltip-border-dark: var(--color-hff);
  --color-rui-tooltip-text-dark: var(--color-hff);
}