@layer components {
  @import 'swiper/css';
  @import 'swiper/css/pagination';
  @import 'swiper/css/scrollbar';

  .rui-swiper-navigation {
    @apply flex-col items-center justify-center h-[3.125rem];
    @apply hover:bg-hff/10 text-h88 hover:text-hff;

    &[data-disabled] {
      @apply  !hidden;
    }
  }

  .rui-swiper-pagination {
    --swiper-pagination-color: var(--color-rz-green);
    /* position */
    --swiper-pagination-left: auto;
    --swiper-pagination-right: .5rem;
    --swiper-pagination-bottom: .5rem;
    --swiper-pagination-top: auto;

    /* fraction */
    --swiper-pagination-fraction-color: inherit;
    --swiper-pagination-progressbar-bg-color: rgba(0, 0, 0, 0.25);
    --swiper-pagination-progressbar-size: 4px;

    /* Bullets */
    --swiper-pagination-bullet-size: .5rem;
    --swiper-pagination-bullet-width: .5rem;
    --swiper-pagination-bullet-height: .5rem;
    --swiper-pagination-bullet-border-radius: 50%;
    --swiper-pagination-bullet-inactive-color: var(--color-hff);
    --swiper-pagination-bullet-inactive-opacity: 0.2;
    --swiper-pagination-bullet-opacity: 1;
    --swiper-pagination-bullet-horizontal-gap: .25rem;
    --swiper-pagination-bullet-vertical-gap: .375rem;

    --swiper-pagination-bullet-autoplay-active-bullet-size: 2.5rem;

    &.swiper-pagination-horizontal[data-type="autoplay-bullets"] {
      & .swiper-pagination-bullet-active {
        @apply relative w-(--swiper-pagination-bullet-autoplay-active-bullet-size) rounded-(--swiper-pagination-bullet-height) bg-hff/20 transition-[width];

        &:after {
          content: "";
          width: var(--rui-swiper-autoplay-percentage);
          @apply absolute top-0 left-0 h-full bg-rz-green rounded-(--swiper-pagination-bullet-height);
        }
      }
    }


    &.swiper-pagination-vertical[data-type="autoplay-bullets"] {
      & .swiper-pagination-bullet-active {
        @apply relative h-(--swiper-pagination-bullet-autoplay-active-bullet-size) rounded-(--swiper-pagination-bullet-width) bg-hff/20 transition-[height];

        &:after {
          content: "";
          height: var(--rui-swiper-autoplay-percentage);
          @apply absolute top-0 left-0 w-full bg-rz-green rounded-(--swiper-pagination-bullet-width);
        }
      }
    }
  }

  .rui-swiper-scrollbar {
    --swiper-scrollbar-border-radius: .625rem;
    --swiper-scrollbar-top: auto;
    --swiper-scrollbar-bottom: .25rem;
    --swiper-scrollbar-left: auto;
    --swiper-scrollbar-right: .25rem;
    --swiper-scrollbar-sides-offset: 1%;
    --swiper-scrollbar-bg-color: rgba(255, 255, 255, 0.1);
    --swiper-scrollbar-drag-bg-color: var(--color-rz-green);
    --swiper-scrollbar-size: .25rem;
  }
}