@import 'tailwindcss';
@config '../tailwind.config.ts';

@import './animations.css';

@theme {
  /* Spacing */

  /* Breakpoints */
  --break-point-sm: 1024px;
  --break-point-md: 1440px;
  --break-point-lg: 1920px;
  --break-point-xl: 2560px;
  --break-point-2xl: 3840px;

  /* Text */
  --text-xs: 0.75rem;
  --text-xs--line-height: 0.875rem;
  --text-sm: 0.875rem;
  --text-sm--line-height: 1rem;
  --text-base: 1rem;
  --text-base--line-height: 1.125rem;
  --text-lg: 1.125rem;
  --text-lg--line-height: 1.25rem;
  --text-xl: 1.25rem;
  --text-xl--line-height: 1.5rem;

  /* Border Radius */
  --radius: 0.125rem;
  --radius-md: calc(var(--radius) + 0.125rem);
  --radius-lg: calc(var(--radius) + 0.25rem);
}

@theme inline {}

@theme static {}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }

  :root {
    font-family: var(--font-roboto, --font-sans);
  }

  *:focus-visible {
    outline: var(--outline);
    outline-offset: 2px;
  }
}

@utility flex-c {
  @apply flex justify-center items-center;
}

@utility flex-ac {
  @apply flex justify-around items-center;
}

@utility flex-bc {
  @apply flex justify-between items-center;
}

@utility flex-col-c {
  @apply flex flex-col justify-center items-center;
}

@utility flex-col-ac {
  @apply flex flex-col justify-center items-center;
}

@utility flex-col-bc {
  @apply flex flex-col justify-between items-center;
}

@utility hide-scrollbar {
  &::-webkit-scrollbar {
    display: none;
  }
}

@utility webkit-scrollbar {
  ::-webkit-scrollbar {
    @apply size-[6px];
  }

  ::-webkit-scrollbar-track-piece {
    @apply bg-transparent rounded-[6px];
  }

  ::-webkit-scrollbar-thumb {
    @apply h-[30px] bg-h58/40 rounded-[6px] hover:bg-rz-green active:bg-rz-green/70 focus:bg-rz-green/70;
  }
}

@utility webkit-scrollbar-self {
  &::-webkit-scrollbar {
    @apply size-[6px];
  }

  &::-webkit-scrollbar-track-piece {
    @apply bg-transparent rounded-[6px];
  }

  &::-webkit-scrollbar-thumb {
    @apply h-[30px] bg-h58/40 rounded-[6px] hover:bg-rz-green active:bg-rz-green/70 focus:bg-rz-green/70;
  }
}


@utility webkit-small-scrollbar {
  ::-webkit-scrollbar {
    @apply size-[3px]
  }

  ::-webkit-scrollbar-track-piece {
    @apply bg-transparent rounded-[1px]
  }

  ::-webkit-scrollbar-thumb {
    @apply h-[5px] bg-h58/40 rounded-[1px] hover:bg-rz-green active:bg-rz-green/70 focus:bg-rz-green/70;
  }
}

@utility webkit-small-scrollbar-self {
  &::-webkit-scrollbar {
    @apply size-[3px]
  }

  &::-webkit-scrollbar-track-piece {
    @apply bg-transparent rounded-[1px]
  }

  &::-webkit-scrollbar-thumb {
    @apply h-[5px] bg-h58/40 rounded-[1px] hover:bg-rz-green active:bg-rz-green/70 focus:bg-rz-green/70;
  }
}
